  
  

  body
  {
    font-family: var(--main-font);
    font-size:var(--main-font-size);
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .ctrl-geovisor
  {
    background-color: var(--primary-color) !important;
    color: #fff !important;
  }


  .ui.button.toggle.active, .ui.buttons .button.toggle.active, .ui.toggle.buttons .active.button
  {
    background-color: var(--primary-color) !important;
  }

  .ctrl-geovisor i
  {
    color: #fff !important;
  }

  .search-label 
  {
    font-size: var(--main-font-size) !important;
    font-weight: bold !important;
  }

  .search-attribute-label
  {
    font-size: var(--main-font-size) !important;
    font-weight: normal !important; 
  }

  .ui.selection.dropdown .menu>.item
  {
    font-size: var(--main-font-size);
  }

  .ui.selection.visible.dropdown>.text
  {
    font-size: var(--main-font-size);
  }

  .ui.search.dropdown>.text
  {
    font-size: var(--main-font-size);
  }

  .jsPanel-theme-primary
  {
    background-color:  var(--secondary-color) !important;
    border-radius: 5px !important;
  }

  .jsPanel .jsPanel-content
  {
    font-family: var(--primary-font);
    border-radius: 0 0 5px 5px !important;
  }

  .jsPanel .jsPanel-hdr
  {
    border-radius: 5px !important;
  }

  #content
  {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #map
  {
    display: inline-block;
    width: 100%;
    height: 100%;
  }


  #panel_menu
  {
    position: absolute;
    top: 3px;
    right: 42px;
    z-index: 101;
  }

  #panel_tools
  {
    position: absolute;
    top: 3px;
    left: 8px;
    z-index: 101;
  }

  #panel_info_content
  {
    padding: 10px;
  }

  #logo
  {
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 10;
  }

  #logo img
  {
    width: 100px;
  }

  #logo2
  {
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 10;
  }

  #logo2 img
  {
    width: 100px;
  }


  #lblTabla
  {
    font-variant: small-caps;
    font-size: var(--main-font-size);
    margin-left: 5px;
  }

  #panel_tabla
  {
    position: absolute;
    margin-bottom: -375px;
    bottom: 0px;
    left: 10px;
    z-index: 100;
    width: 500px;
    height: 400px;
    overflow-y: auto;
    background-color: #fbfbfb;
    padding: 5px;
  }


  #toggle_panel_tabla
  {
    position: absolute;
    top: 2px;
    right: 2px;
  }



  .ol-popup-context-menu {
    position: absolute;
    background-color: #333;
    color: #333;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    margin-left: -2px;
    min-width: 150px;
    font-size: var(--main-font-size);
  }
  .ol-popup-context-menu:after, .ol-popup-context-menu:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .ol-popup-context-menu:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
  }
  .ol-popup-context-menu:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
  }
  .ol-popup-context-menu-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
  }
  .ol-popup-context-menu-closer:after {
    content: "✖";
  }

  .ol-scale-line
  {
    position: absolute;
    right: auto;
    left: 10px;
  }

  #context_menu
  {
  	background-color: #fbfbfb;
    color: #333;
    width: 250px;
    z-index: 7;
  }


.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.modal,
.ui.active.modal {
  margin: 0 auto!important;
  top: auto !important;
  bottom: auto !important;
  right: auto !important;
  left: auto !important;
  transform-origin: center !important;
  transition: all ease .5s;
}


.ui.table {
    font-size: var(--main-font-size) !important;
}

.tabla-info
{
  margin: 10px;
  font-size: 17pt;
}

.tabla-info td
{
  padding: 5px;
}

.tabla-info tr
{

}

.tabla-info tr:hover
{
  background-color: rgba(0,0,0,.05);
}

.row-selected
{
  background-color: rgba(126,168,210,0.6);
}

.row-selected:hover
{
  background-color: rgba(126,168,210,0.8) !important;
}


.dataTables_wrapper 
{ 
  font-size: 12px; 
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif
}


.map:-moz-full-screen {
  height: 100%;
}
.map:-webkit-full-screen {
  height: 100%;
}
.map:-ms-fullscreen {
  height: 100%;
}
.map:fullscreen {
  height: 100%;
}
/* position the rotate control lower than usual */
.ol-rotate {
  top: 3em;
}

.ol-zoom
{
  right: .5em;
  left: unset;
  top: 3em;
}

.ol-zoom .ol-zoom-in
{

  background-color: var(--primary-color);
}

.ol-zoom .ol-zoom-out
{
  background-color: var(--primary-color);
}

.ol-full-screen
{
 background-color: var(--primary-color); 
}

.ol-control button
{
 background-color: var(--primary-color);  
}


.ol-overviewmap {

    left: 1em;
    bottom: 4em !important;
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.9;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}    

#typeMeasure
{
  position: absolute;
  top: 45px;
  left: 195px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
  z-index: 50;
  font-size: var(--main-font-size) !important;
}

#panel_georef
{
    position: absolute;
    bottom: 9px;
    left: 10px;
    width: 266px;
    height: 24px;
    border-radius: 5px;
    background-color: var(--primary-color);
    z-index: 50;
}

  
#panel_search_result
{
  padding: 10px;
}

#panel_buffer_content {
    padding: 10px;
}

#layerTools
{
  padding: 7px 5px 7px 10px;
  border-bottom: 1px solid #555;
}

#proj {
    position: absolute;
    left: 10px;
    bottom: 2px;
    font-size: 8pt;
    color: white;
}

#zoom {
    position: absolute;
    left: 90px;
    bottom: 2px;
    font-size: 8pt;
    color: white;
}

#mouse-position {
    position: absolute;
    left: 160px;
    bottom: 2px;
    font-size: 8pt;
    color: white;
}

.ol-scale-line
{
  background-color: var(--primary-color) !important;
  left: 286px !important;
}


.popup {
  font-size: 8pt !important;
}

#legend-items
{
  padding: 10px;
}

.legend-item-head{
  font-size:var(--main-font-size);
  color: #333;
  margin-bottom: 5px;
}

.legend-item-img
{
  margin-bottom: 5px;
}


#search-items
{
  padding: 10px;
}


.grupo_capas_head
{
  padding-left: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #333;
  color: #333;
  font-size: var(--main-font-size);
  padding-top: 5px;
  cursor: pointer;
}

.grupo_capas_head span
{
  margin-left: 5px;
  cursor: pointer;
}

.grupo_capas_items
{
   margin-top: 5px;
   margin-left: 15px;
   width: 100%;
   color: #333;
   font-size: var(--main-font-size);
}

.grupo_capas_items label
{
  color: #333;
}

.activate-layer-label
{
  cursor: pointer;
}

.activate-layer-label:hover
{
  color: #008080;
}

.options-lyr
{
  margin-left: 10px;
}

.toggle-options-lyr
{
  margin-left: 3px;
  color: #999;
}

.toggle-options-lyr:hover
{
  margin-left: 3px;
  color: #333;
}

.toggle-legend-lyr {
    margin-left: 2px;
    color: #999;
}

.toggle-legend-lyr:hover {
    margin-left: 2px;
    color: #333;
}

.slider_transparency
{
  width: 150px;
}

.spin-zindex
{
  cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555555;
    background: none;
    background-color: #555555 !important;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
{
    border: 1px solid #d3d3d3;
    font-weight: normal;
    color: #555555;
    background: none;
    background-color: #333333 !important;
}

.radio, .checkbox
{
  margin-bottom: 0px !important;
}

.ui.segment
{
  padding: 0; 
}

.ui.menu .item
{
  font-size: var(--main-font-size);
}

.ui.attached.segment
{
  border: none;
}

.ui.selection.dropdown 
{
  font-size: var(--main-font-size) !important;
}

